 /*=========================================== GENERAL*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html
{
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 200px rgba(0,0,0,1);
}

body
{
	background: repeating-linear-gradient(#002C07, #002C07 5px, #00530D 5px, #00530D 10px);
	
}

img
{
	-webkit-filter: drop-shadow(0px 0px 15px rgba(0,255,41, 0.6));
	width: 600px;
}

/*=========================================== SLEEP ICO*/

#sleep
{
	position: absolute;
	
	top: 50%;
	left: 50%;
	
	margin-top: -200px;
	margin-left: -200px;
}

/*=========================================== LOADING FRAME*/

#loadingFrame, #sleep
{
	margin-left: 370px;
	
	color: #00FF29;
	
	width: 700px;
	height: 100vh;
	
	font-family: 'roboto mono';
	font-size: 30px;
	
	text-align: left;
	text-shadow: 0 0 20px rgba(0,255,41,1);
	
	overflow: hidden;

	display: none;
}




