/*=========================================== GENERA*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html
{
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 200px rgba(0,0,0,1);
}

body
{
	background: repeating-linear-gradient(#002C07, #002C07 5px, #00530D 5px, #00530D 10px);
	
}

img
{
	-webkit-filter: drop-shadow(0px 0px 15px rgba(0,255,41, 0.6));
}

/*=========================================== USER LIST*/

#userListFrame
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -283px;
	margin-top: -300px;
	
	width: 600px;
	height: 600px;

	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
}

#userList
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -283px;
	margin-top: -300px;
	
	font-family: "consola";

	max-width: 600px;
	max-height: 600px;
	
	overflow-y: scroll;
	overflow-x: hidden;
}

.userFrame
{
	position: relative;

	width: 350px;
	height: 110px;

	margin-top: 30px;

	background: rgba(0,90,31,0.8);
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	color: #00FF29;
	border: solid 2px #00FF29;
	
	font-family: 'roboto mono';
	font-size: 30px;
	text-shadow: 0 0 20px rgba(0,255,41,0.6);
	
	transition-duration: 0.4s;
}

.userFrame:hover
{
	background: rgba(0,190,41,0.8);
}

.userFrame:active
{
	background: rgba(0,90,31,0.8);
}

.userIco
{
	position: relative;
	
	padding: 8px;
	
	margin-left: 50px;
	
	vertical-align: bottom;

	width: 90px;
	height: 90px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
	
}

/*=========================================== SCROLLBAR*/

::-webkit-scrollbar
{
	width: 35px;
	border: solid 1px #00FF29;
	box-shadow: 0 0 25px rgba(0,190,41,0.8);
}

::-webkit-scrollbar-track 
{
	border: solid 2px #00FF29;
	box-shadow: 0 0 15px rgba(0,190,41,0.8), inset 0 0 25px rgba(0,190,41,0.8);
}
 
::-webkit-scrollbar-thumb 
{
	background: #00FF29;
	box-shadow: 0 0 15px rgba(0,255,41,0.8), inset 0 0 25px rgba(0,190,41,0.8);
}

::-webkit-scrollbar-thumb:hover 
{
	background: rgba(0,255,41,0.7);
	box-shadow: 0 0 15px rgba(0,255,41,0.8), inset 0 0 25px rgba(0,190,41,0.8);
}
