
/*=========================================== GENERA*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html
{
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 200px rgba(0,0,0,1);
}

body
{
	background: repeating-linear-gradient(#002C07, #002C07 5px, #00530D 5px, #00530D 10px);
	
}

img
{
	-webkit-filter: drop-shadow(0px 0px 25px rgba(0,255,41, 0.6));
}

/*=========================================== SIDE INFO*/
#buyListFrame
{
	position: absolute;
	left: 5px;
	top: 5px;

	width: 400px;
	height: 450px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	text-shadow: 0 0 20px rgba(0,255,41,1);
	color: #00FF29;
	border: solid 2px #00FF29;
}

#userInfoFrame
{
	position: absolute;
	left: 5px;
	top: 560px;

	width: 400px;
	height: 75px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	color: #00FF29;
	border: solid 2px #00FF29;
}

#userInfoIco
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -160px;
	margin-top: -32px;

	width: 60px;
}

#userInfoText
{
	position: absolute;
	left: 50%;
	top: 50%;
	
	margin-top: -25px;
	margin-left: -80px;
	
	font-family: 'roboto mono';
	font-size: 18px;
	text-shadow: 0 0 8px rgba(10,255,10,1);
	
	width: 120px;
}

#buyListTotal
{
	position: absolute;
	bottom: 0;
	
	margin: 5px;
	
	background-color: #00FF29; 
	box-shadow: 0 0 20px rgba(0,255,41,0.8);
	
	width: 390px;
	height: 40px;
	
	text-align: center;
	color: #00530D;
	

	font-family: 'roboto mono';
	font-size: 25px;
	text-shadow: 0 0 8px rgba(10,10,10,1);
}

#buyList
{
	position: absolute;
	bottom: 50px;

	font-family: 'roboto mono';
	font-size: 15px;
	text-shadow: 0 0 10px rgba(10,255,10,1);
}

#buyButton
{
	position: absolute;

	width: 405px;
	height: 87px;

	top: 465px;
	left: 5px;

	background: rgba(0,90,31,0.8);
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	color: #00FF29;
	border: solid 2px #00FF29;
	
	font-family: 'roboto mono';
	font-size: 20px;
	text-shadow: 0 0 10px rgba(0,255,40,1);
	
	transition-duration: 0.4s;
}

#buyButton:hover
{
	background: rgba(0,190,41,0.8);
}

#buyButton:active
{
	background: rgba(0,90,31,0.8);
}

/*=========================================== OTHER*/
#buttonExit
{
	position: absolute;
	top: 645px;
	left: 30px;
	
	background: rgba(0,0,0,0);
	border: solid 0px;
	
	transition-duration: 0.4s;
}

#buttonExit:hover
{
	opacity: 0.5;
}

#buttonExitIco
{
	width: 110px;
}

#buttonAdd
{
	position: absolute;
	top: 645px;
	left: 150px;
	
	background: rgba(0,0,0,0);
	border: solid 0px;
	
	transition-duration: 0.4s;
}

#buttonAdd:hover
{
	opacity: 0.5;
}

#buttonAddIco
{
	width: 110px;
}

#buttonSearch
{
	position: absolute;
	top: 645px;
	left: 270px;
	
	background: rgba(0,0,0,0);
	border: solid 0px;
	
	transition-duration: 0.4s;
}

#buttonSearch:hover
{
	opacity: 0.5;
}

#buttonSearchIco
{
	width: 110px;
}

/*=========================================== DEPOSIT/WITHRAW*/
#actionSelectButtonFrame
{
	position: absolute;
	left: 420px;
	top: 5px;
	
	height: 90px;
	width: 935px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
	
	text-align: center;
}

.buttonAction
{
	margin-top: 10px;

	width: 400px;
	height: 70px;

	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
	
	font-family: 'roboto mono';
	font-size: 20px;
	text-shadow: 0 0 20px rgba(0,255,40,1);
	
	color: #00FF29;
	background: rgba(0,90,31,0.8);
	
	transition-duration: 0.4s;
}


.buttonAction:hover
{
	background: rgba(0,190,41,0.8);
}

.buttonAction:active
{
	background: rgba(0,90,31,0.8);
}

/*=========================================== CATEGORY*/

#categoryFrame
{
	position: absolute;
	left: 420px;
	top: 110px;
	
	height: 250px;
	width: 935px;
	max-height: 300px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
	
	text-align: center;
	
	overflow-x: none;
	overflow-y: scroll;
}

.categoryButton
{
	margin-top: 40px;
	margin-left: 40px;
	width: 220px;
	height: 220px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
	background: rgba(0,90,31,0.8);
	
	color: #00FF29;
	font-family: 'roboto mono';
	font-size: 20px;
	text-shadow: 0 0 20px rgba(0,255,40,1);
	
	transition-duration: 0.4s;
}

.categoryButton:hover
{
	background: rgba(0,190,41,0.8);
}

.categoryButton:active
{
	background: rgba(0,90,31,0.8);
}

/*=========================================== OBJECT*/

#objectFrame
{
	position: absolute;
	left: 420px;
	top: 375px;
	
	height: 375px;
	width: 935px;
	
	box-shadow: 0 0 20px rgba(0,255,41,0.8), inset 0 0 20px rgba(0,255,41,0.8);
	border: solid 2px #00FF29;
	
	text-align: left;
	
	overflow-x: none;
	overflow-y: scroll;
	
	vertical-align: top;
}

.objectButton
{
	margin-top: 20px;
	margin-left: 10px;
	width: 680px;
	height: 40px;

	box-shadow: 0 0 10px rgba(0,255,41,0.8), inset 0 0 10px rgba(0,255,41,0.8);
	border: solid 1px #00FF29;
	background: rgba(0,90,31,0.8);
	
	color: #00FF29;
	font-family: 'roboto mono';
	font-size: 14px;
	text-shadow: 0 0 20px rgba(0,255,40,1);
	
	transition-duration: 0.4s;
}

.objectButtonPlus
{
	margin-top: 10px;
	width: 40px;
	height: 40px;
	
	box-shadow: 0 0 10px rgba(0,255,41,0.8), inset 0 0 10px rgba(0,255,41,0.8);
	border: solid 1px #00FF29;
	background: rgba(0,90,31,0.8);
	
	color: #00FF29;
	font-family: 'roboto mono';
	font-size: 15px;
	text-shadow: 0 0 20px rgba(0,255,40,1);
	
	transition-duration: 0.4s;
}

.objectButtonPlus:hover
{
	background: rgba(0,190,41,0.8);
}

.objectButtonPlus:active
{
	background: rgba(0,90,31,0.8);
}

.objectButtonMinus
{
	margin-top: 10px;
	width: 40px;
	height: 40px;
	
	box-shadow: 0 0 10px rgba(0,255,41,0.8), inset 0 0 10px rgba(0,255,41,0.8);
	border: solid 1px #00FF29;
	background: rgba(0,90,31,0.8);
	
	color: #00FF29;
	font-family: 'roboto mono';
	font-size: 15px;
	text-shadow: 0 0 20px rgba(0,255,40,1);
	
	transition-duration: 0.4s;
}

.objectButtonMinus:hover
{
	background: rgba(0,190,41,0.8);
}

.objectButtonMinus:active
{
	background: rgba(0,90,31,0.8);
}

.objectTotal
{
	margin-top: 10px;
	width: 80px;
	height: 40px;
	
	box-shadow: 0 0 10px rgba(0,255,41,0.8), inset 0 0 10px rgba(0,255,41,0.8);
	border: solid 1px #00FF29;
	background: rgba(0,90,31,0.8);
	
	color: #00FF29;
	font-family: 'roboto mono';
	font-size: 15px;
	text-shadow: 0 0 20px rgba(0,255,40,1);
}

/*=========================================== SEARCH*/

#boiteRecherche{
	position: absolute;
	top: 25%;
	left: 25%;

	width: 50%;
	height: 50%;

	border: solid black 5px;


}

#headRecherche{
	height: 10%;
	width: 100%;
	background-color: green;
}

#bodyRecherche{
	background-color: blue;
	height: 90%;
	width: 100%;
	overflow-y: scroll;
    overflow-x: hidden;
}


/*=========================================== SCROLLBAR*/

::-webkit-scrollbar
{
	width: 35px;
	border: solid 1px #00FF29;
	box-shadow: 0 0 25px rgba(0,190,41,0.8);
}

::-webkit-scrollbar-track 
{
	border: solid 2px #00FF29;
	box-shadow: 0 0 15px rgba(0,190,41,0.8), inset 0 0 25px rgba(0,190,41,0.8);
}
 
::-webkit-scrollbar-thumb 
{
	background: #00FF29;
	box-shadow: 0 0 15px rgba(0,255,41,0.8), inset 0 0 25px rgba(0,190,41,0.8);
}

::-webkit-scrollbar-thumb:hover 
{
	background: rgba(0,255,41,0.7);
	box-shadow: 0 0 15px rgba(0,255,41,0.8), inset 0 0 25px rgba(0,190,41,0.8);
}
